/* font-family: 'PT Serif', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mob-show {
  display: none;
}
/* - - - - - - - - TYPOGRAPHY - - - - - - - - - - - */

body {
  font-family: 'PT Serif', serif;
}

h1 {
  font-family: 'playlist';
  font-weight: normal;
  font-style: normal;
}

span {
  font-family: 'playlist-ornament';
}




/* - - - - - - - MEDIA QUERIES - - - - - - - - - */
@media (max-width: 1024px){
  .mob-hide {
    display: none;
  }

  .mob-show {
    display: block;
  }




}
