/* font-family: 'PT Serif', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid grey;
}

/* - - - - - - - - TYPOGRAPHY - - - - - - - - - - - */

body {
  font-family: 'PT Serif', serif;
}

h1 {
  font-family: 'playlist';
  font-weight: normal;
  font-style: normal;
}

span {
  font-family: 'playlist-ornament';
}
